<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                        version="3.0">
    <display-name>Training application for OWCD certification</display-name>
    
    <context-param>
    	<param-name>defaultName</param-name>
    	<param-value>Megan</param-value>
    </context-param>

	<servlet>
		<servlet-name>greetingServlet</servlet-name>
		<servlet-class>com.github.aha.cert.servlet.GreetingServlet</servlet-class>
		<init-param>
			<param-name>defaultName</param-name>
			<param-value>Lisa</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetingServlet</servlet-name>
		<url-pattern>/greetingX</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jspServlet</servlet-name>
		<jsp-file>/jsp.jsp</jsp-file>
		<load-on-startup>3</load-on-startup>
	</servlet>	
	<servlet-mapping>
		<servlet-name>jspServlet</servlet-name>
		<url-pattern>/jsp</url-pattern>
	</servlet-mapping>
	
	
	<filter>
		<filter-name>GreetingFilterX</filter-name>
		<filter-class>com.github.aha.cert.filter.GreetingFilter</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>Katherine</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GreetingFilterX</filter-name>
		<url-pattern>/greetingX</url-pattern>
	</filter-mapping>	
</web-app>